body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0078d7;
  color: #fff;
  padding: 10px 20px;
  height: 40px;
}

.logo img {
  height: 30px;
  vertical-align: middle;
}

.header-content {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

p {
  margin: 10px 0;
  font-size: 16px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#input-section {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

textarea,
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

#input-options {
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color: #0078d7;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005ea2;
}

.block {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.hidden-textarea {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content a {
  color: #fff;
}

.intro-block {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.intro-text {
  flex: 1;
}

.intro-image img {
  max-width: 100%;
  height: auto;
}

.intro-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.intro-text p {
  font-size: 16px;
}
